WeekendRaytracer/obj/Debug/netcoreapp2.0/WeekendRaytracer.AssemblyInfoInputs.cache
WeekendRaytracer/._Program.cs
WeekendRaytracer/._Ray.cs
WeekendRaytracer/._trace.ppm
WeekendRaytracer/.vscode/launch.json
WeekendRaytracer/.vscode/tasks.json
WeekendRaytracer/obj/Debug/netcoreapp2.0/WeekendRaytracer.AssemblyInfo.cs
WeekendRaytracer/obj/Debug/netcoreapp2.0/WeekendRaytracer.csproj.CoreCompileInputs.cache